body {
    min-height: 100vh;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Name{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    align-items: center;
}

.freestyle{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10vw;
    justify-items: center;
    align-items: center;
}
.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(224, 57, 57);
    border-radius: 20em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
